body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 'Open Sans', serif !important;
}

h1, h2, {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: bolder;
}

h3, h4, h5, h6 {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
}

a, a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  animation: spin 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
}

.bg {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}

.title1 img {
  max-height: 150px;
}

.euro img {
  position: absolute;
  bottom: 350px;
}

.card-first {
  position: absolute;
  top: 30%;
  width: 50%;
  background-color: #393E41;
  padding: 20px;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 17px 4px rgba(0, 0, 0, 0.6);
  display: inline-block;
  text-align: left;
  margin-bottom: 15%;
  border-bottom: 2px solid #D72638;
  border-top: 2px solid #D72638
}



.custom-nav-inner h5 {
  display: inline;
}

.custom-nav-inner a {
  text-decoration: none;
  color: white;
}

.custom-nav {
  margin-bottom: 20%;
  position: absolute;
  top: 0px;
  display: inline-block;
}

.map-outer {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 100px;
  display: inline-block;
}

.nav-cont {
  margin-bottom: 5%;
}

#selection {
  position: relative;
  font-weight: bolder;
  background-color: #D72638;
  padding: 5px;
  border-radius: 10px;
  color: white;
  animation: grow 1s;
  animation-iteration-count: 1;
}

#selection:hover {
  background-color: #F25F5C
}

.submit-form #btn {
  background-color: #D72638 ;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
  font-weight: bolder;
}

.fa, .fab {
  margin: 5px;
}

.column {
  float: left;
}

#mob {
  display: none;
}

#formcar {
  max-width: 300px;
}


.right {
  width: 40%;
  height: 100%;
  background: url(car4.jpg) no-repeat right top local;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  width: 60%;
  background-color: #090C02;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  text-align: center;

}

.submit-form #btn:hover {
  background-color: #F25F5C
}

.submit-form .field {
  display: block;
  border: none;
  background: none;
  border-bottom: 2px solid #757780;
  color: #757780;
}

.submit-form .field:focus {
  outline: none;
  border-bottom: 2px solid #011627 ;
  -webkit-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
}

@keyframes grow {
  from{
    opacity: 0
  }

  to{
    opacity: 1
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 1610px) {
  .bg {
    height: auto;
    display: inline-block;
    width: 100%;
  }

  .column {
    float: none;
    width: 100%;
    background: url(car4.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .left {
    width: 100%;
    height: auto;
    position: relative;

  }

  .right {
    display: none;
  }

 .custom-nav {
   margin-bottom: 20px;
   position: static;
 }

 .map-outer {
   position: static;
 }

 #mob {
   display: inline-block;
   height: 100px;
 }

 #formcar {
   max-width: 180px
 }

 .title1 img {
   display: none;
 }

 .card-first {
   position: static;
 }

}
