body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 'Open Sans', serif !important;

}

* {
  box-sizing: border-box;
}

h1, h2, {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: bolder;
}

h3, h4, h5, h6 {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
}

a, a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.map-outer a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  animation: spin 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
}

.bg {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
}

.title1 img {
  max-height: 150px;
}

.card-first {
  width: 70%;
  background-color: #393E41;
  padding: 10px;
  border-radius: 10px;
  color: white;
  -webkit-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 17px 4px rgba(0, 0, 0, 0.6);
  display: inline-block;
  text-align: left;
  margin-bottom: 5%;
  border-bottom: 2px solid #D72638;
  border-top: 2px solid #D72638
}

.custom-nav-inner h5 {
  display: inline;
}

.custom-nav-inner a {
  text-decoration: none;
  color: white;
}

.custom-nav-inner {
  width: 100%;
}

.custom-nav {
  margin-bottom: 2%;
  width: 70%;
}

.map-outer {
  text-align: center;
  color: white;
}

.nav-cont {
  margin-bottom: 0;
}

#selection {
  position: relative;
  font-weight: bolder;
  background-color: #D72638;
  padding: 5px;
  border-radius: 10px;
  color: white;
  animation: grow 1s;
  animation-iteration-count: 1;
}

#selection:hover {
  background-color: #F25F5C
}

.submit-form #btn {
  background-color: #D72638 ;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
  font-weight: bolder;
}

.fa, .fab {
  margin: 5px;
}

.column {
  float: left;
}

#mob {
  display: none;
}

#formcar {
  width: 100%;
  height: auto;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.euro img {
  height: 100px;
  margin-bottom: 20px;
}

#eu1 {
  max-height: 80px;
  left: 0;
}

#eu2 {
  max-height: 60px;
}

.nav-it {
  text-align: center;
}

.right {
  width: 40%;
  height: 100%;
  background: url(car4.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  width: 60%;
  height: 100%;
  background-color: #090C02;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  text-align: center;
  overflow: auto;
}

.gallery img {
  max-width: 400px;
  max-height: 300px;
}

.gallery {
  max-width: 600px;
  max-height: 300px;
  position: relative;
  margin: auto;
  text-align: center;
}

.mySlides {
  display: none;
}

.gallery .prev, .gallery .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-number {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.current {
  background-color: #717171
}

.fx {
  -webkit-animation-name: fx;
  -webkit-animation-duration: 2.0s;
  animation-name: fx;
  animation-duration: 2.0s;
  }

  @-webkit-keyframes fx {
  from {opacity: .4}
  to {opacity: 1}
  }

  @keyframes fx {
  from {opacity: .4}
  to {opacity: 1}
  }
}

.submit-form #btn:hover {
  background-color: #F25F5C
}

.submit-form .field {
  display: block;
  border: none;
  background: none;
  border-bottom: 2px solid #757780;
  color: #757780;
}

#eu3 {
  display: none;
}

.submit-form .field:focus {
  outline: none;
  border-bottom: 2px solid #011627 ;
  -webkit-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
}

@keyframes grow {
  from{
    opacity: 0
  }

  to{
    opacity: 1
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 1366px) {
  .bg {
    height: auto;
    display: inline-block;
    width: 100%;
  }

  .column {
    float: none;
    width: 100%;
    background: url(car4.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

  }

  .left {
    width: 100%;
    min-height: 100vh;
  }

  .right {
    display: none;
  }

 .custom-nav {
   margin-bottom: 20px;
 }

 #mob {
   display: inline-block;
   height: 100px;
 }

 .card-first {
   width: 82%;
 }

 #formcar {
   width: 100%;
   height: auto;
 }


 .gallery img {
   max-width: 200px;
 }

 #eu1 {
   display: none;
 }

 #eu3 {
   display: inline-block;
   height: 100px;
   text-align: center;
   margin-top: 20px;
 }

}
