body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font: 'Open Sans', serif !important;
}

h1, h2, {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: bolder;
}

h3, h4, h5, h6 {
  font: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
}

.title1 {
  color: white;
}

a, a:visited {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  animation: spin 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
}


.bg {
  background: radial-gradient(ellipse farthest-corner at 0 140%, #011627 0%, #626C66 75%, #BBCBCB 80%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size: cover;
  -webkit-animation: breathe 10s ease infinite;
  -moz-animation: breathe 10s ease infinite;
  animation: breathe 10s ease infinite;
}

.title1 img {
  height: 100px;

}



@-webkit-keyframes breathe {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-moz-keyframes breathe {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@keyframes breathe {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

.car img {
  border-radius: 50%;
  height: 500px;
  -webkit-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
}

.card-first {
  background-color: #F9F4F5;
  padding: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
  box-shadow: 10px 10px 17px 4px rgba(0,0,0,0.6);
}

.col {
  color: white;
}

.custom-nav-inner h5 {
  display: inline;
}

.custom-nav-inner a {
  text-decoration: none;
  color: #011627;
}

.info-card {
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 29px 3px rgba(0,0,0,0.63);
  -moz-box-shadow: 10px 10px 29px 3px rgba(0,0,0,0.63);
  box-shadow: 10px 10px 29px 3px rgba(0,0,0,0.63);
  color: white;
  text-align: center;
  padding: 10px;
}


.map-outer {
  text-align: center;
}

.nav-cont {
  margin-bottom: 5%;
}

#selection {
  position: relative;
  font-weight: bolder;
  background-color: #D72638;
  padding: 5px;
  border-radius: 10px;
  color: white;
  animation: grow 1s;
  animation-iteration-count: 1;
}

#selection:hover {
  background-color: #F25F5C
}

.submit-form #btn {
  background-color: #D72638 ;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px;
  font-weight: bolder;
}

.fa, .fab {
  margin: 5px;
}

.submit-form #btn:hover {
  background-color: #F25F5C
}

.submit-form .field {
  border: none;
  margin: 5px;
  background: none;
  border-bottom: 2px solid #757780;
  color: #757780;
}

.submit-form .field:focus {
  outline: none;
  border-bottom: 2px solid #011627 ;
  -webkit-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
  box-shadow: 10px 10px 24px -2px rgba(0,0,0,0.39);
}

@keyframes grow {
  from{
    opacity: 0
  }

  to{
    opacity: 1
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-device-width: 1366px) {

  .bg {
    height: 120%;
  }

  .car img {
    height: 300px;
    text-align: center;
    margin-top: 40px;
  }

  .title1 img {
    height: 60px;
    margin-bottom: 10px;
  }

}
